<div id="tester" style="width:1200px;height:500px;"></div>
<script type="text/javascript">
    TESTER = document.getElementById('tester');
    Plotly.plot(TESTER, [{
    x: <%= dates %>,
    y: <%= values %> }], 
    {margin: { t: 0 } });
</script>